#aboutSection { background-image: url('/images/chums/about-bg.jpg'); background-position: center center; background-size: cover; }
#aboutSection p {color:#b4c5ce;line-height: 30px;}
#aboutSection b {color:#FFF;}
#aboutSection .btn {padding-left:20px;padding-right: 20px;}

#hero h1 {font-weight: bold;}
#hero h1 span {color:#03a9f4;font-style: italic;font-weight: normal;}
#hero {padding-top:50px;padding-bottom: 50px;}


.homeFeature { padding:10px;box-shadow: 0px 2px 5px  #CCC; margin-bottom: 25px; min-height: 200px; border-radius: 10px;}
.homeFeature .icon {margin-top:5px; margin-bottom: 5px;}
.homeFeature .icon span { border:3px solid #03a9f4; border-radius: 50%;display: inline-block;width:60px;height:60px; }
.homeFeature .icon i { color:#00ad25; font-size: 25px; line-height: 55px; }
.homeFeature .feature {font-weight: bold;}

#membersSection { background-image: url('/images/chums/members-bg.jpg'); background-position: center center; background-size: cover; }
#membersSection img {margin-top:20px;}
#membersSection li {color:#DDD;}

#givingSection .title {margin-top:30px;}
#testimonySection { background-image: url('/images/chums/testimony-bg.jpg'); background-position: center center; background-size: cover; }

#registerSection h2 {margin-bottom: 10px;}


#attendanceSection { background-image: url('/images/chums/members-bg.jpg'); background-position: center center; background-size: cover; }

#attendance {position: relative; z-index:-2}
#attendance:after { content:''; background-position-y: center; background-image: url(/images/chums/attendance.jpg); background-size: cover; opacity: 0.10; top: 0;left: 0;bottom: 0;right: 0;position: absolute; z-index: -1; } /*https://pixabay.com/photos/kindergarten-clown-garden-animator-2204239/*/




@media (min-width: 600px) {
    #navRight .btn:after {content:' for Free';}
}


@media (min-width: 1200px) {
    .col-lg-2-5 {flex: 0 0 20.8%; max-width: 20.8%; position: relative; width:100%; padding-left:15px;padding-right: 15px;}
}