       
.videoWrapper { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#videoBG {background-color:#449c47;height:300px;margin-top:-270px; background-image: url('/images/kidsmin/bg1.jpg'); background-position: center center; background-size: cover;}


#kidsMinQuestions .card-body {border-bottom:6px solid #449c47;}
#kidsMinQuestions .card-title {margin-bottom: 0px;color:#FFF;}
#kidsMinQuestions .card-header {background-color: #449c47; }


#membersSection { background-image: url('/images/chums/members-bg.jpg'); background-position: center center; background-size: cover; }
#membersSection img {margin-top:20px;}
#membersSection li {color:#DDD;}