body {font-family:'Roboto', sans-serif; color:#333;}
.table {color:#333;}
a { color: #24b8ff; }
h2 span {color:#24b8ff;}
.blue{color:#03a9f4;}
.green {color:#00ad25;}

#navbar {background-color: #000 !important;margin-bottom: 20px;}
#navbar a.link {color:#FFF;font-size:20px;font-weight: bold;}
#navbar .nav-item {font-size:14px;}
#navbar .nav-link {color:#555;height:55px;vertical-align: middle;line-height: 45px; max-width:150px; margin-left:auto; margin-right:auto;}
#navbar .active {border-bottom: 2px solid #03a9f4;}
.navbar-brand {padding-top:5px;padding-bottom:0px;}
.navbar-brand img {max-height:64px;max-width:100%;margin-top:5px;margin-bottom:5px;}
#navRight {white-space: nowrap; overflow: hidden; padding-top: 15px;}
#navRight a {margin-left:20px;font-size:30px;}
#navSpacer {height:97px;}

#homeNavbar {padding-bottom: 10px;padding-top:10px;}
#homeNavbar a.link {color:#FFF;font-size:20px;font-weight: bold;}
#homeNavbar .nav-item {font-size:14px;}
#homeNavbar .nav-link {color:#555;height:55px;vertical-align: middle;line-height: 45px; max-width:150px; margin-left:auto; margin-right:auto;}
#homeNavbar .active {border-bottom: 2px solid #03a9f4;}
#homeNavbar.scrolled { background-color: #000 !important; transition: background-color 200ms linear;}

#footer {background-color:#222222; padding-top:40px; padding-bottom: 40px; color:#EEE;border-top:5px solid #03A8F4;}
#footer img {max-width:450px;margin-bottom: 10px;}

.homeSection.alt { color:#FFF; background-color: #333; }
.homeSection.alt .title { color:#FFF; }

.homeSection.alt2 { background-color: #e8e8e8; }

#homeExamples .h5 {font-size:1.2rem;text-align: center;}
#homeStats { background-image: url('/images/home/stats-bg.jpg'); background-position: center center; background-size: cover; padding-top:30px;padding-bottom: 30px; }
#homeWho .h5 {text-align: center; color:#03a9f4; font-size:1.6rem;font-weight: bold;}
#homeWho .card-body {border-bottom:6px solid #03a9f4;}
#homeWho .card-body p {min-height: 290px;}
#homeHero {padding-top:170px;padding-bottom: 70px; color:#FFF;padding-bottom: 170px;}
#homeHero h1 {font-size:3.75rem;}
#homeHero p {font-size:1.5rem;}



#homeServices { margin-top:-200px; margin-bottom: 100px; }
#homeServices .rounded-circle {width:100px;height:100px;margin-left:auto;margin-right:auto;color:#FFF;text-align: center; vertical-align: middle;}
#homeServices .rounded-circle i {line-height: 100px;font-size:50px; }
#homeServices h4 {height:70px;margin-top:20px;}


.homeSection {padding-top:70px;padding-bottom: 70px;}
.homeSection .title {font-size:14px; text-transform: uppercase;margin-bottom: 10px;color:#03a9f4;font-weight: bold;}
.homeSection .title span {color:#03a9f4;}

.homeSection h2 {margin-bottom: 30px; font-size:36px; font-weight: bold; }

.homeSection ul.checkList {padding-left:0px;}
.homeSection .checkList li {list-style: none; background: url('/images/chums/checkbox.png') 0px 3px no-repeat; padding:0px 0px 15px 37px;}


.btn-light {color:#03a9f4;}

p.lead {font-size:16px;font-weight: bold;}
p.intro {font-size:17px;}


#homeServices .btn-primary, #homeServices .bg-primary { background-color:#77cc00!important; border-color:#70db86!important; }
#homeServices .btn-primary:hover { background-color:#55aa00!important; border-color:#55aa00!important; }
#homeServices .btn-info, #homeServices .bg-info { background-color: #03a9f4!important; border-color: #03a9f4!important; }






